<ion-content class="login-content">
  <div class="login-container">
    <h1>Bienvenido al de vuelta</h1>
    <p class="subtitle">Inicia sesion para continuar</p>

    <form [formGroup]="form" (ngSubmit)="onLogin()">
      <shared-input
        [control]="emailControl"
        placeholder="Email"
        type="email"
      ></shared-input>

      <shared-input
        [control]="passwordControl"
        placeholder="Password"
        type="password"
      ></shared-input>

      <ion-text color="danger" *ngIf="errorMessage">
        <p class="error-message">{{ errorMessage }}</p>
      </ion-text>

      <shared-button
        label="Iniciar sesión"
        [disabled]="form.invalid || loading"
        type="submit"
        class="ion-margin-top"
        (action)="onLogin()"
      ></shared-button>

      <ion-spinner *ngIf="loading" name="dots" class="ion-margin-top"></ion-spinner>
    </form>

    <ion-button
      expand="block"
      fill="clear"
      color="medium"
      routerLink="/register"
      class="register-link"
    >
      ¿No tienes cuenta? Regístrate
    </ion-button>
  </div>
</ion-content>
