.sent {
  text-align: right;
  background-color: #d1e7dd;
  padding: 8px;
  margin: 6px;
  border-radius: 10px;
}

.received {
  text-align: left;
  background-color: #f8d7da;
  padding: 8px;
  margin: 6px;
  border-radius: 10px;
}
